*{
    font-family: 'Ubuntu', sans-serif;
    background-color: #1A232C;
    color: white !important;
}

img{
    height: 55px;
    width: 55px;
    display: flex;
}

header{
    text-transform: uppercase;
}


.nav-link{
    display: flex;
    transition: 0.2s ease-in-out;
}

.nav-link.active{
    color: #ff3131 !important;

}

.nav-item:hover{
    border-bottom: 2px solid #800000;
}

.nav-link:hover{
    transform: scale(1.05);
    color: #dc4c4c !important;
}


